memo.json
{
  "name": "memo",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -2096,
        -656
      ],
      "id": "53159604-2be3-42e1-8cff-aa90ef3a3a7d",
      "name": "WhatsApp Trigger",
      "webhookId": "e7039a84-cb8d-4dc6-98d0-920323452185"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "803302272858386",
        "recipientPhoneNumber": "+15756398399",
        "messageType": "audio",
        "mediaPath": "useMedian8n",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        336,
        -688
      ],
      "id": "217bbabd-173a-4383-9990-80a003bed0a0",
      "name": "Send message",
      "webhookId": "7961c227-06d1-43c6-97ee-b10ce1030589"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.messages[0].text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "35588a02-6475-400d-b869-da05d7ed0f3a"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "83b9e800-99d0-4e31-8032-ae81aebe86d1",
                    "leftValue": "={{ $json.messages[0].audio }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3ab7184b-65ec-4ca5-a250-667667999220",
                    "leftValue": "={{ $json.messages[0].image }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Image"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1936,
        -672
      ],
      "id": "42ce9d7b-5f26-4efc-a991-5783a5d52a4d",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $json.messages[0].audio.id }}"
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -1616,
        -656
      ],
      "id": "60c171a9-6ba2-414d-a2ce-58af130c8c05",
      "name": "Download URL",
      "webhookId": "d97e31e5-26f3-4b5f-b7b1-b3905930ad09"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {
          "language": "en"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -1280,
        -656
      ],
      "id": "3b3d3e73-7a6b-4ffa-9f1d-aab756d1632b",
      "name": "Transcribe a recording"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2f35809b-3889-4ef7-a8d5-a4d934842631",
              "name": "Text",
              "value": "={{ $json.messages[0].text.body }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1392,
        -832
      ],
      "id": "061cf85e-86f2-4f1f-9bb9-51ec0ddc3423",
      "name": "Text"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2f35809b-3889-4ef7-a8d5-a4d934842631",
              "name": "Text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1104,
        -656
      ],
      "id": "fabfe3f3-291f-43e0-a34f-38432f11ab4d",
      "name": "Voice"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1456,
        -656
      ],
      "id": "c7777c3d-8de0-4d2b-915a-7dcc1f8481cc",
      "name": "Download Audio"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bbb5a4b6-7c2c-4af6-a584-e6352fd0068f",
              "leftValue": "={{ $('WhatsApp Trigger').item.json.messages[0].audio }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -352,
        -784
      ],
      "id": "889a9c87-17b3-4208-8ba4-ce7a7ba9565e",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "audio",
        "input": "={{ $json.output }}",
        "voice": "shimmer",
        "options": {
          "response_format": "opus"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        112,
        -688
      ],
      "id": "4a4b7a73-1d36-4eb8-b90b-662d151237ba",
      "name": "Generate audio"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "803302272858386",
        "recipientPhoneNumber": "+15756398399",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        240,
        -496
      ],
      "id": "642464f4-955e-409e-bb0d-1bd0dd4a100e",
      "name": "Send message1",
      "webhookId": "3f2c16e2-b427-4cb4-86d8-0f4dc43092bb"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "=What's in this image?",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -1280,
        -432
      ],
      "id": "a81fc6d8-100b-494f-b029-3504d6c42e21",
      "name": "Analyze image"
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $json.messages[0].image.id }}"
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -1616,
        -432
      ],
      "id": "de7dd4a5-fa63-42a4-89fa-f70821028abb",
      "name": "Download Image URL",
      "webhookId": "35fcb218-c78d-4e18-8e94-292cdf3e3e1f"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1456,
        -432
      ],
      "id": "836babb2-3049-41d9-b7d7-66989ade00a8",
      "name": "Download Image"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2f35809b-3889-4ef7-a8d5-a4d934842631",
              "name": "Text",
              "value": "=# The author provided the image and the text \n\n## Image Description\n{{ $json.content }}\n\n## User Message\n{{ $('WhatsApp Trigger').item.json.messages[0].image.caption || \"Describe this image\" }}\n\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1104,
        -432
      ],
      "id": "da2c691d-ed5a-4f07-a4e1-b08ab4a78771",
      "name": "Image + Text"
    },
    {
      "parameters": {
        "content": "# Text\n",
        "height": 176,
        "width": 768,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1728,
        -864
      ],
      "typeVersion": 1,
      "id": "7a9b66c5-c145-4a63-94e9-eefe61460813",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# Voice\n",
        "height": 176,
        "width": 768,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1728,
        -672
      ],
      "typeVersion": 1,
      "id": "c5c4a21c-2d71-4800-b7e2-5621ba6b3d32",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# Image\n",
        "height": 208,
        "width": 768,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1728,
        -480
      ],
      "typeVersion": 1,
      "id": "1e5bdcd6-e555-4d4e-91f7-0605d0f38aaa",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "# Inputs\n",
        "height": 720,
        "width": 1216
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2144,
        -880
      ],
      "typeVersion": 1,
      "id": "35929ce0-80c3-4142-a9b5-788aab5999d0",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.Text }}",
        "options": {
          "systemMessage": "=## Overview\nYou are the Parent Orchestrator Agent. Your job is to route and coordinate incoming WhatsApp messages (text, voice, image) to the correct sub-agent or processing tool. The current date and time is {{ $now.toString() }}\n\n## Tools\n- Think: Use to evaluate context and decide routing logic\n- E-Mails Agent: Use for handling email-related queries, sending, replying, or managing inbox\n- Calendar Agent: Use for scheduling, retrieving, updating, or deleting calendar events\n- Web Search Agent: Use to fetch information from the internet (Google Search, Wikipedia, Hacker News)\n- Social Media Agent: Use to create or manage posts on Twitter/X\n\n## Rules\n- Route text, voice, or image inputs based on intent and context\n- Use Think tool when unsure which agent to delegate to\n- Always return the response in the correct WhatsApp output format (text or audio)\n- Keep responses concise and aligned with the casual tone of WhatsApp\n- Confirm completion of actions (emails sent, events scheduled, tweets posted, etc.)\n\n## Instructions\n1) Receive processed input (transcribed text, analyzed image, or raw message)\n2) Decide best-fit agent using Think\n3) Send the task to chosen sub-agent (E-Mails, Calendar, Web Search, Social Media)\n4) Summarize the result and return to WhatsApp as text or audio\n\n## Examples\n1)\nInput: \"What’s on my calendar tomorrow?\"\n- Action: Use Calendar Agent to check tomorrow’s events\n- Output: \"You have 2 events tomorrow: 10 AM – Project Review, 2 PM – Client Call.\"\n\n2)\nInput: Voice message: \"Send an email to Sarah about the meeting.\"\n- Action: Use E-Mails Agent to draft and send email\n- Output: \"Email sent to Sarah: Subject – Meeting Update...\"\n\n3)\nInput: \"Search the latest AI news.\"\n- Action: Use Web Search Agent\n- Output: \"Latest AI news from Hacker News: OpenAI released a new API feature...\"\n\n4)\nInput: \"Post on Twitter: Excited about our new product launch!\"\n- Action: Use Social Media Agent\n- Output: \"Tweet posted: 'Excited about our new product launch!'\"\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        -656,
        -784
      ],
      "id": "80117fe3-a53c-4b36-a7ad-2249175faa95",
      "name": "Orchestrator Agent",
      "retryOnFail": false
    },
    {
      "parameters": {
        "content": "# Voice\n\n",
        "height": 176,
        "width": 576,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -16,
        -720
      ],
      "typeVersion": 1,
      "id": "f63f8ad6-43cf-42c1-b0cb-ba59ede6aad5",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "# Text\n\n",
        "height": 176,
        "width": 576,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -16,
        -528
      ],
      "typeVersion": 1,
      "id": "bc1287f0-eb29-4ba8-9bea-6f87f3ba0b79",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "# Output\n",
        "height": 704,
        "width": 896
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -160,
        -880
      ],
      "typeVersion": 1,
      "id": "e0b6abff-d9e3-4f1d-ab9c-749129e015e2",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "toolDescription": "Call this tool if you want to do something with calendar.",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "=## Overview\nYou are the Calendar Agent. Your job is to manage calendar events by creating, updating, retrieving, or deleting them as requested. The current date and time is {{ $now.toString() }}\n\n## Tools\n- Create an event: Use to add a new calendar event\n- Delete an event: Use to remove an existing event\n- Get an event: Use to fetch details of a specific event\n- Get Many Events: Use to list multiple upcoming or past events\n- Update Events: Use to modify details of an existing event\n\n## Rules\n- Always confirm the date, time, and event details before creating or updating\n- Use Get Many Events before creating to avoid duplicates if unsure\n- Keep responses short and clear for WhatsApp delivery\n- If an event cannot be found, respond politely with a fallback message\n\n## Instructions\n1) Interpret the user’s calendar request\n2) Select the correct tool (create, get, update, delete)\n3) Execute the action and return a human-friendly summary\n4) Always confirm the action back to the user\n\n## Examples\n1)\nInput: \"Add a meeting with Sarah tomorrow at 3 PM\"\n- Action: Use Create an event\n- Output: \"Meeting with Sarah scheduled for tomorrow at 3 PM.\"\n\n2)\nInput: \"What’s on my calendar this week?\"\n- Action: Use Get Many Events\n- Output: \"You have 4 events this week. First: Team Sync, Monday 10 AM.\"\n\n3)\nInput: \"Cancel my dentist appointment on Friday\"\n- Action: Use Delete an event\n- Output: \"Dentist appointment on Friday has been deleted.\"\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        32,
        -64
      ],
      "id": "75903631-4ce2-4274-b40f-7e614fb3f392",
      "name": "Calendar Agent"
    },
    {
      "parameters": {
        "toolDescription": "Call this tool if you want to do something with E-mails.",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "You are a helpful assistant"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        -1024,
        -32
      ],
      "id": "0a9a6436-9494-4bf3-8e56-2dc3ec8675bb",
      "name": "E-Mails Agent1"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        -400,
        -624
      ],
      "id": "9390ca87-aa2f-4dab-8085-e6fc4737618d",
      "name": "Think"
    },
    {
      "parameters": {
        "toolDescription": "Call this tool to search the web.",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "## Overview\nYou are the Web Search Agent. Your job is to search the web and retrieve reliable information from news, Wikipedia, or Google Search when requested. The current date and time is {{ $now.toString() }}\n\n## Tools\n- Get an article in Hacker News: Use to fetch recent Hacker News articles\n- Wikipedia: Use to retrieve encyclopedic and factual information\n- Google Search (SerpApi): Use for general web searches across the internet\n\n## Rules\n- Always choose the most relevant tool for the query\n- Return concise, clear, and factual responses\n- Summarize results instead of dumping raw data\n- Cite the source of information (e.g., \"According to Wikipedia...\")\n\n## Instructions\n1) Interpret the user’s query\n2) Select the best tool (Hacker News, Wikipedia, Google Search)\n3) Retrieve and summarize the answer\n4) Return only the relevant response in plain text\n\n## Examples\n1)\nInput: \"What’s the latest AI news?\"\n- Action: Use Hacker News tool to get recent articles\n- Output: \"Latest on Hacker News: OpenAI released a new API feature...\"\n\n2)\nInput: \"Who invented the telephone?\"\n- Action: Use Wikipedia tool\n- Output: \"According to Wikipedia, Alexander Graham Bell is credited with inventing the telephone in 1876.\"\n\n3)\nInput: \"Best restaurants in New York 2025\"\n- Action: Use Google Search (SerpApi)\n- Output: \"Top-rated restaurants in New York (2025): Le Bernardin, Eleven Madison Park, Atomix.\"\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        -1984,
        -16
      ],
      "id": "939ed69c-5d6f-4eb3-ace0-6b9dcd627a1a",
      "name": "Search Agent",
      "notesInFlow": false
    },
    {
      "parameters": {
        "content": "# Orchestrator Agent\n\n",
        "height": 368,
        "width": 736,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -912,
        -880
      ],
      "typeVersion": 1,
      "id": "de5736c1-bb69-4774-9aea-14299cfb2484",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        -1680,
        224
      ],
      "id": "8ba70448-e7f6-4281-9804-a4c18534207a",
      "name": "Google Search"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        -1792,
        224
      ],
      "id": "b49de989-19f6-4026-b3c9-b9d321d3f389",
      "name": "Wikipedia"
    },
    {
      "parameters": {
        "articleId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Article_ID', ``, 'string') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.hackerNewsTool",
      "typeVersion": 1,
      "position": [
        -1936,
        224
      ],
      "id": "7ab4be5a-5175-4c17-9d30-991d34d49708",
      "name": "Get an article in Hacker News"
    },
    {
      "parameters": {
        "content": "# Web Search Agent\n\n",
        "height": 496,
        "width": 720,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2144,
        -128
      ],
      "typeVersion": 1,
      "id": "7b5768ee-e4e2-42f1-8c5b-da55431085f2",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "alyfar601@gmail.com",
          "mode": "list",
          "cachedResultName": "alyfar601@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "useDefaultReminders": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Use_Default_Reminders', ``, 'boolean') }}",
        "additionalFields": {
          "attendees": [],
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        0,
        192
      ],
      "id": "30d9947a-47a6-4d43-99c9-da70ca86fa4e",
      "name": "Create an event"
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "alyfar601@gmail.com",
          "mode": "list",
          "cachedResultName": "alyfar601@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        160,
        192
      ],
      "id": "600715a2-f2f4-428a-99da-7c36d21698e8",
      "name": "Delete an event"
    },
    {
      "parameters": {
        "operation": "get",
        "calendar": {
          "__rl": true,
          "value": "alyfar601@gmail.com",
          "mode": "list",
          "cachedResultName": "alyfar601@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        288,
        192
      ],
      "id": "42215f25-4cf1-44d6-993d-ca2b2306c287",
      "name": "Get an event"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "alyfar601@gmail.com",
          "mode": "list",
          "cachedResultName": "alyfar601@gmail.com"
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        432,
        192
      ],
      "id": "b3900fcb-4bf2-4712-aa69-3e8763ab2746",
      "name": "Get Many Events"
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "alyfar601@gmail.com",
          "mode": "list",
          "cachedResultName": "alyfar601@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "updateFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        576,
        192
      ],
      "id": "836d51cf-f704-47d8-9e46-58506e9bf886",
      "name": "Update Events"
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        -1232,
        224
      ],
      "id": "b6d1dd7b-9fea-4808-9acf-5725d2e8092d",
      "name": "Send a message",
      "webhookId": "bb7a5919-6824-4026-8720-4dc83b7f247e"
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        -944,
        224
      ],
      "id": "f75c5996-1c00-4e9c-bca8-9ad98a07c749",
      "name": "Get many e-mails",
      "webhookId": "bb7a5919-6824-4026-8720-4dc83b7f247e"
    },
    {
      "parameters": {
        "operation": "delete",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        -1088,
        224
      ],
      "id": "3609b533-2824-452a-8ad0-828cfbe1b8f2",
      "name": "Delete an e-mail",
      "webhookId": "bb7a5919-6824-4026-8720-4dc83b7f247e"
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        -784,
        224
      ],
      "id": "8e36f4a9-6550-4e7d-bd7a-553ed6275a5d",
      "name": "Mark as read",
      "webhookId": "bb7a5919-6824-4026-8720-4dc83b7f247e"
    },
    {
      "parameters": {
        "operation": "markAsUnread",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        -624,
        224
      ],
      "id": "69308776-c613-4fdc-8986-0082b0a3f501",
      "name": "Mark as unread",
      "webhookId": "bb7a5919-6824-4026-8720-4dc83b7f247e"
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        -448,
        224
      ],
      "id": "ed0fae78-09b7-4dc6-bd8f-f1561454150d",
      "name": "Reply to e-mail",
      "webhookId": "bb7a5919-6824-4026-8720-4dc83b7f247e"
    },
    {
      "parameters": {
        "content": "# E-Mail Agent\n\n\n",
        "height": 496,
        "width": 1232,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1408,
        -128
      ],
      "typeVersion": 1,
      "id": "f8ffb8eb-1fbc-4547-946a-60ba0b2f484a",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "toolDescription": "Call this tool if you want to post on x.",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "=## Role\nYou are an expert in creating high-quality, engaging, and modern posts for **X (formerly Twitter)**.  \nYou receive information and generate posts that are:\n\n- **Concise and informative**, without unnecessary details.  \n- **Engaging and dynamic**, designed to capture attention and encourage interaction.  \n- **Trending and optimized**, using relevant keywords and hashtags for maximum reach.  \n- **Structured for readability**, utilizing short paragraphs, line breaks, and emojis to enhance engagement.  \n\n---\n\n## Post Style\nYour posts should primarily focus on **AI topics** and often begin with this format:\n\n👉 *“XYZ just dropped XYZ, and people are already doing crazy stuff with it—10 examples.”*  \n\n⚠️ **Important:** When creating a post, always use the **savePost** tool to store it.  \n\n---\n\n## Tools\n\n### savePost\nUse this tool to save the post in a **Google Sheets document**. Include:\n\n- **Column 1:** Current date  \n- **Column 2:** Post topic  \n- **Column 3:** Post content (plain text)  \n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        -656,
        -432
      ],
      "id": "b21ada49-1f22-4537-bf9e-410fe2e91701",
      "name": "Social Media Agent"
    },
    {
      "parameters": {
        "content": "# Calender Agent\n\n\n",
        "height": 496,
        "width": 880,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -160,
        -128
      ],
      "typeVersion": 1,
      "id": "2ec40036-48a0-4a2e-af30-3cbc04fcb959",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "# Social Media - Twitter\n\n\n",
        "height": 336,
        "width": 736,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -912,
        -496
      ],
      "typeVersion": 1,
      "id": "2b25ece7-c770-4b9a-b308-f0154d71141a",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.twitterTool",
      "typeVersion": 2,
      "position": [
        -688,
        -320
      ],
      "id": "b5e3e884-e48e-46cb-baaf-1400051eeec7",
      "name": "Create Tweet in X",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1LVctGysj6Uro_Mx29CrV2WxsPnl4E9FPhbNfEYUBMwU",
          "mode": "list",
          "cachedResultName": "X-Posts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LVctGysj6Uro_Mx29CrV2WxsPnl4E9FPhbNfEYUBMwU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LVctGysj6Uro_Mx29CrV2WxsPnl4E9FPhbNfEYUBMwU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date ": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Date_', ``, 'string') }}",
            "Theme": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Theme', ``, 'string') }}",
            "Posts": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Posts', ``, 'string') }}"
          },
          "matchingColumns": [
            "Date "
          ],
          "schema": [
            {
              "id": "Date ",
              "displayName": "Date ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Theme",
              "displayName": "Theme",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Posts",
              "displayName": "Posts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -384,
        -304
      ],
      "id": "21c5d2dc-27cd-4797-b46d-52208c548620",
      "name": "x post"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -800,
        -624
      ],
      "id": "8cb7e602-dec2-4016-b544-6f9429ebf546",
      "name": "GPT-4.1-mini"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -864,
        -288
      ],
      "id": "00d5a0d5-1c3e-43d6-84bc-3b1883ec9d58",
      "name": "GPT-4.1-mini1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -2080,
        224
      ],
      "id": "7bda41fe-07db-42ce-9070-7a70281c6402",
      "name": "GPT-4.1-mini2"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1376,
        208
      ],
      "id": "4190bf08-8694-42e1-bc37-01de3b86a7d0",
      "name": "GPT-4.1-mini3"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -128,
        192
      ],
      "id": "b3556c87-ce30-41a1-abf5-efc3a3707ceb",
      "name": "GPT-4.1-mini4"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -640,
        -624
      ],
      "id": "a6150408-aede-4486-82e7-6813d7ecdc8d",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://brightdata.com/cp/scrapers/api/gd_m7aof0k82r803d5bjm/pdp/api?id=hl_fa341265",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": " https://chatgpt.com",
              "value": "Top hotels in New York "
            },
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        -1520,
        224
      ],
      "id": "7acbb1b5-94e9-41e6-8b4c-b13f9bb98814",
      "name": "bright data scaper"
    }
  ],
  "pinData": {},
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download Image URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download URL": {
      "main": [
        [
          {
            "node": "Download Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text": {
      "main": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Voice": {
      "main": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Audio": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Generate audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate audio": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image URL": {
      "main": [
        [
          {
            "node": "Download Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image": {
      "main": [
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image": {
      "main": [
        [
          {
            "node": "Image + Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image + Text": {
      "main": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Orchestrator Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calendar Agent": {
      "ai_tool": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "E-Mails Agent1": {
      "ai_tool": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Search Agent": {
      "ai_tool": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Search": {
      "ai_tool": [
        [
          {
            "node": "Search Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "Search Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get an article in Hacker News": {
      "ai_tool": [
        [
          {
            "node": "Search Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create an event": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete an event": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get an event": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Many Events": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update Events": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "ai_tool": [
        [
          {
            "node": "E-Mails Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete an e-mail": {
      "ai_tool": [
        [
          {
            "node": "E-Mails Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many e-mails": {
      "ai_tool": [
        [
          {
            "node": "E-Mails Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Mark as read": {
      "ai_tool": [
        [
          {
            "node": "E-Mails Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Mark as unread": {
      "ai_tool": [
        [
          {
            "node": "E-Mails Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Reply to e-mail": {
      "ai_tool": [
        [
          {
            "node": "E-Mails Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Social Media Agent": {
      "ai_tool": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Tweet in X": {
      "ai_tool": [
        [
          {
            "node": "Social Media Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "x post": {
      "ai_tool": [
        [
          {
            "node": "Social Media Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "GPT-4.1-mini": {
      "ai_languageModel": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "GPT-4.1-mini1": {
      "ai_languageModel": [
        [
          {
            "node": "Social Media Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "GPT-4.1-mini2": {
      "ai_languageModel": [
        [
          {
            "node": "Search Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "GPT-4.1-mini3": {
      "ai_languageModel": [
        [
          {
            "node": "E-Mails Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "GPT-4.1-mini4": {
      "ai_languageModel": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "bright data scaper": {
      "ai_tool": [
        [
          {
            "node": "Search Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f8d4b622-a438-46ba-9d48-48af5672eaee",
  "meta": {
    "instanceId": "e40d288d17adec1f2f034ea6ef539487922c5de46a615de3157fd13c38e26254"
  },
  "id": "oTtvYFyoZpBivPl9",
  "tags": []
}